* {
    margin: 0px;
    padding: 0px;
    background-color: rebeccapurple;
}

.container {
    display: flex;
    position: absolute;
    /* border: 2px solid red; */
    height: 33rem;
    left: 22rem;
    width: 45rem;
    top: 4rem;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}


/* Dice image */

#dice {
    /* border: 2px solid black; */
    height: 17rem;
    width: 17rem;
    /* border-radius: 3rem; */
    /* background-color: white; */
}


 #img {
    /* height: 17rem; */
    transition: 2s ease-in;
} 


/* Results in text format */

#number {
    height: 2.2rem;
    display: flex;
    border-radius: 20px;
    width: 13rem;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bolder;
    box-shadow: 4px 12px 20px 0px #00f6ff, 16px 0px 20px 0px #03a9f4, 0px -9px 20px 0px #00fffcf2, -10px 0px 20px 6px #005aff;
}


/* button */

#activate {
    /* border: 2px solid burlywood; */
    height: 2.2rem;
    display: flex;
    width: 13rem;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    background-color: #ff9f9f;
    font-weight: bolder;
    color: #4c0a6d;
    border-radius: 2rem;
    cursor: pointer;
    position: relative;
}

#activate:hover {
    background-color: red;
    animation-name: roll;
    box-shadow: 0 0px 0px 0 #00ff00 inset, 0 5px 50px 0 #00ff00, 0 0px 0px 0 #00ff00 inset, 0px 7px 36px 0 #00ff00;
    animation-duration: 1s;
    /* transition: 1.1s; */
    transition: 1s ease-in-out;
}

@keyframes roll {
    from {
        background-color: #ff9f9f;
    }
    to {
        background-color: red;
    }
}